// id="player-name
// id="computer-name
// id="player-gameboard
// id="computer-gameboard
// id="turn-indicator"
@font-face {
    font-family: myFont;
    src: url("./assets/commando.ttf");
}
* {
    box-sizing: border-box;
    font-family: myFont;
    letter-spacing: 1px;
}
@mixin vertical-ship() {
    transform: rotate(-90deg);
}
@mixin absolutePosition-ship($top: 0,$bottom :0 ,$left:0,$right:0){
    top: $top !important;
    bottom: $bottom !important;
    left: $left !important;
    right: $right !important;
}
.vertical-ship {
    @include vertical-ship;
    &.battleship {
        @include absolutePosition-ship(90px, 0px, -115px, 0px);
        width: 265px !important;
    }
    &.cruiser {
        @include absolutePosition-ship(73px, 0px, -70px, 0px);
        width: 200px !important;
    }
    &.submarine {
        @include absolutePosition-ship(80px, 0px, -70px, 0px);
        width: 190px !important;
    }
    &.carrier {
        @include absolutePosition-ship(120px, 0px, -145px, 0px);
        width: 330px !important;
    }
    &.destroyer {
        @include absolutePosition-ship(35px, 0px, -30px, 0px);
        width: 125px !important;
    }
}
.placed-ship {
    user-select: none;
    pointer-events: none;
    position: absolute;
    z-index: 0;
    bottom: 0;
    left: 0;
    &.battleship {
        width: 250px;
    }
    &.cruiser,
    &.submarine {
        width: 185px;
    }
    &.carrier {
        width: 310px;
    }
    &.destroyer {
        width: 125px;
    }
}
.game-start {
    height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;
    justify-items: center;
    grid-template-columns: 40% 15% 40%;
    grid-template-rows: 10% 85%;
    row-gap: 1rem;
}
#player-name {
    grid-column: 1/2;
}
#computer-name {
    grid-column: 3/4;
}
#turn-indicator {
    grid-column: 2/3;
    grid-row: 2/3;
}
#player-gameboard {
    grid-column: 1/2;
    grid-row: 2/3;
}
#computer-gameboard {
    grid-column: 3/4;
    grid-row: 2/3;
}

#player-name,
#computer-name {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #081e2b;
    background-color: #d8ecf8;
    font-size: 2.5rem;
}
#player-gameboard,
#computer-gameboard {
    background-color: #d8ecf8;
    border: 2px solid #081e2b;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    > div {
        border: 1px solid #081e2b;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: crosshair;
    }
    > div:hover {
        background-color: green;
    }
}
#turn-indicator {
    font-size: 2.3rem;
    background-color: #eef6fc;
    border: 2px solid #081e2b;
    border-radius: 5px;
    width: 90%;
    height: 8%;
    display: flex;
    align-items: center;
    justify-content: center;
}
