@font-face {
    font-family: myFont;
    src: url("./assets/commando.ttf");
}
.invalid-ship-placeholder {
    background-color: red;
    opacity: 50%;
}
@mixin vertical() {
    transform: rotate(-90deg);
}
@mixin absolutePosition($top: 0,$bottom :0 ,$left:0,$right:0){
    top: $top !important;
    bottom: $bottom !important;
    left: $left !important;
    right: $right !important;
}
.vertical {
    @include vertical();
    &.battleship {
        @include absolutePosition(75px,0px,-85px,0px);
        width: 230px !important;
    }
    &.cruiser{
        @include absolutePosition(65px,0px,-60px,0px);
        width: 180px !important;
    }
    &.submarine {
        @include absolutePosition(70px,0px,-60px,0px);
        width: 170px !important;
    }
    &.carrier {
        @include absolutePosition(105px,0px,-125px,0px);
        width: 300px !important;
    }
    &.destroyer {
        @include absolutePosition(35px,0px,-30px,0px);
        width: 115px !important;
    }
}

.placement-cell {
    position: relative;
    z-index: 50;
}
.placed-element {
    user-select: none;
    pointer-events: none;
    position: absolute;
    z-index: 0;
    bottom: 0;
    left: 0;
    &.battleship {
        width: 250px;
    }
    &.cruiser,
    &.submarine {
        width: 210px;
    }
    &.carrier {
        width: 330px;
    }
    &.destroyer {
        width: 150px;
    }
}
* {
    box-sizing: border-box;
    font-family: myFont;
    letter-spacing: 1px;
    color: #081e2b;
}
.game-setup {
    display: flex;
    flex-grow: 1;
    padding: 0.3rem;
    height: 100vh;
    column-gap: 1rem;
}
@mixin shipImageStyle() {
    width: 70%;
}
.ship-placeholder {
    background-color: #ccd4da;
}
.ship-options {
    width: 30%;
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    align-items: center;
    justify-items: center;
    > img {
        @include shipImageStyle();
    }
    > #destroyer {
        width: 60%;
    }
}
.ship-placement {
    width: 70%;
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 2%;
    #name-input {
        outline: none;
        border: none;
        font-size: 2rem;
        margin-top: 1rem;
        width: 100%;
        height: 8%;
        text-align: center;
        border: 1px solid black;
        padding: 1rem;
    }
    .placement-grid {
        z-index: 50;
        border: 1px solid #081e2b;
        width: 90%;
        height: 75%;
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: repeat(10, 1fr);
        > div {
            border: 1px solid #081e2b;
        }
    }
    .rotate-ship,
    .start-game,
    .reset-ships {
        width: 25%;
        height: 6%;
        cursor: pointer;
        background-color: #eef6fc;
        &:hover {
            background-color: #c1c8cd;
        }
    }
}
